
<div class="row">
    <div class="small-6 small-centered columns">
     <form>  
        <div class="small-3 columns " >
          <label for="Sugar Level" class="right inline">Sugar Level:</label>
        </div>
        <div class="small-9 columns">
          <input type="number" id="right-label" placeholder="Please enter in your Glucose(Sugar Level)">
        </div>
        <div class="row">
          <div class="small-12 columns">
             <button class="success">Submit</button>
          </div>  
        </div>   
      </form>
    </div>
</div>